/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Regular.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
  font-family: Open Sans Condensed;
}

/* SITE HEADER */

.site-header {
  padding-top: 25px;
  padding-bottom: 26px;
}

.site-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-logo-dark {
  margin-right: 4px;
}

.site-logo-img {
  display: block;
}

/* .site-header-nav {
} */

.site-header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header-item:not(:last-child) {
  margin-right: 32px;
}

.site-header-link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}

.site-link {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 15px;
  font-family: Open Sans Condensed;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #de2e54;
  border-radius: 8px;
}

.site-link:hover {
  opacity: 70%;
}

.site-link::after {
  opacity: 40%;
}

/* SITE INTRO  */
.site-intro {
  padding-top: 29px;
  background-color: #0eb4c1;
}

.site-intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-intro-content {
  color: #fff;
}

.site-intro-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.site-intro-description {
  max-width: 440px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 1.5;
}

/* OUR SERVICES */

.our-services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-services__heading {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.our-services-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.our-services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.our-services-item:not(:last-child) {
  margin-bottom: 80px;
}

.our-services-img {
  margin: 0px 64px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.our-services-content {
  min-width: 600px;
}

.our-services-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
}

.our-services-txt {
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

.site-link-wrapper {
  text-align: center;
}

.login-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0eb4c1;
}

/* .login-section-container {
} */
.login-section-title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
}

.login-section-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Open Sans Condensed;
}

.login-section-link {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
}

.login-section-link:hover {
  opacity: 70%;
}

.login-section-link::after {
  opacity: 40%;
}

.login-section-link:not(:last-child) {
  margin-right: 40px;
}

.site-footer {
  padding-top: 25px;
  padding-bottom: 26px;
  background-color: #000;
}

.site-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-logo-white {
  margin-right: 4px;
}

.site-logo-img {
  display: block;
}

/* .site-footer-nav {
} */
.site-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer-item:not(:last-child) {
  margin-right: 32px;
}

.site-footer-link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
